/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: auto;
	height: 100%;
	background-color: #fff;
}

h1, h2, .copy {
	font-family: 'Noto Serif JP', sans-serif;
	font-weight: 100;
	font-style: normal;
}

button {
	font-family: 'Noto Serif JP', sans-serif;
	font-weight: 400;
	font-style: normal;
}

input, textarea, button {
	outline: none;
}
/* end reset */

.text_coffee {
	color: #FFE6A8;
}

.clear {
	clear: both;
}

/* header */
header {
	position: relative;
	width: 100%;
	height: 100px;
	padding-top: 10px;
	background-color: #FFE6A8;
	z-index: 1;
}

header .logo {
	text-align: center;
}
/* end header */
/* banner */
.banner {
	position: relative;
	height: 745px;
	background: linear-gradient(0deg, #27653E, #46D27A);
	padding-top: 80px;
	z-index: 0;
}

.banner .banner-text {
	text-align: center;
}

.banner .banner-text h1 {
	font-size: 40px;
	text-transform: uppercase;
}

.banner .banner-text h1 span {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-style: normal; 
}

.banner .banner-img {
	position: absolute;
	width: 490px;
	height: 100%;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background: url("images/coffeecup.jpg");
	background-repeat: no-repeat;
	background-position: center 100%;
	background-size: auto;
}
/* end banner */
/* about */
.about {
	padding: 105px 0;
}

.about .about-item {
	display: inline-block;
	float: left;
	width: 33.33%;
	padding: 0 30px;
	text-align: center;
}

.about .about-item h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: 300;
	font-style: normal;
	text-transform: uppercase;
}

.about .about-item .icon {
	display: inline-block;
	width: 64px;
	height: 64px;
	margin: 25px;
}

.about .about-item .icon.irish {
	background: url("images/irish.png") no-repeat center center;
	background-size: auto;
}

.about .about-item .icon.mokachino {
	background: url("images/mokachino.png") no-repeat center center;
	background-size: auto;
}

.about .about-item .icon.latte {
	background: url("images/latte.png") no-repeat center center;
	background-size: auto;
}

.about .about-item p {
	width: 75%;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	margin: 0 auto;
	text-align: justify;
}
/* end about */
/* form */

.form {
	position: relative;
	padding: 105px 0;
	text-align: center;
	background-color: #f8f8f8;
}

.form h2 {
	font-size: 24px;
	margin-bottom: 50px;
}

.form form {
	display: inline-block;
	width: 60%;
}

.form form input,
.form form textarea {
	width: 100%;
	font-size: 18px;
	color: #000;
	border: 2px solid #27653E;
	border-radius: 15px;
	text-align: center;
	margin-bottom: 50px;
}

.form form input {
	height: 42px;
}

.form form textarea {
	height: 200px;
	resize: none;
	padding-top: 10px;
}

.btn {
	display: inline-block;
	height: 42px;
	font-size: 18px;
	background-color: #f00;
	padding: 10px 10%;
	border: none;
	border-radius: 15px;	
	text-transform: uppercase;
	background-image: linear-gradient(to right, #27653E 0%, #46D27A 50%, #27653E 100%);
	background-size: 200% auto;
	transition: all 1s;
	cursor: pointer;
}

.btn:hover {
	background-position: right center;
}
/* end form */
/* footer */

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	background-color: #27653E;
	text-transform: uppercase;
}